//color
// $main-color:#03719C;
$main-color:#0096FF;
// $main-color:#88A6F7;
$main-text-color:#4a4a4a;
$main-text-color-2:#838383;
$placeholder-text-color:#c0c4cc;
// #0F9B8E

// 导航高亮颜色
$nav-active-color:#ff0088;
//bgc

//font size
$font-size-base: 16px;
$font-size-m: $font-size-base + 2;
$font-size-l: $font-size-base + 2;

//size
$navbar-height: 60px;

$label-color:rgba(0,0,0,0.54);

/* 
 * sass变量只要不是选择器里面都是全局变量
 * 根据医院判断使用
*/
$main-gradient-color:'';
$themeType:'blue';
@if $themeType=='blue' {
    $main-color: #0096FF;
    $--color-primary: #0096FF;
    $main-gradient-color:linear-gradient(-270deg, #57B3F6 0%, #2C7CE9 100%);
} @else if($themeType=='green'){
    $main-color: #14C07F;
    $--color-primary: #14C07F;
    $main-gradient-color:linear-gradient(-270deg, #51C1CB 0%, #0DC076 100%);
}