@import "~@/styles/scss/_mixins";

/* 所有题型公用样式 开始 */
.dee-question-wrap{
    margin-bottom: 1rem;
    width: 100%;
}
.dee-question-heading{
    font-size: 14px;
    color: #000015;
    line-height: 2;
}
@media (min-width: 1200px){
    .dee-question-heading{
        font-size: 15px;
        margin: .8rem 0 0.2rem;
    }
}
@media (min-width: 800){
    .dee-question-heading{
        font-size: 17px;
        margin: .8rem 0 0.2rem;
    }
}
.dee-question-sign{
    color: red;
    margin-right: .5rem;
}
.dee-question-no{
    font-weight: 600;
    margin-right: .5rem;
}
.dee-question-name{
    // margin-left: .5rem;
}
.dee-dropdown-span{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
}
.dee-question-remark{
    color: #909399;
    line-height: 1;
    margin-bottom: 5px;
}
.dee-control-wrap{
    margin-left: .5rem;
}
/* 所有题型公用样式 结束 */


/* 量表 matrix table  开始*/
.dee-matrix-table{
    width:100%;
    color: #606266;
    th,td{
        padding:1rem .5rem;
        text-align:center;
        min-width: 5rem;
        border-bottom: 1px solid #DCDFE6;
    }
}
.dee-matrix__body{
    // &>tr:nth-child(2n){
    //   background-color: #fafafa;
    // }
    // &>tr:hover{
    //   background-color: #d9ecff;
    // }
    .el-input__inner{
        padding: 0;
    }
}

.dee-matrix__header{
    // background-color: rgba($color: $main-color, $alpha: 0.1)
}
/* 量表 matrix table  结束*/


/* 
    自定义控件样式 开始
*/
.dee-input__underline{
    border-bottom: 1px solid #606266;
    width: 4.5rem;
    color: #606266;
    margin-left: .3rem;
}
/* 
    自定义控件样式 结束
*/

/* 基本题型单独样式 开始 */
// 文本描述
.dee-desp{
    width: 100%;
    float: left;
    font-weight: 600;
}
// 长文本
.dee-long-text{
    float: left;
    width: 100%;
    .el-textarea {
      width: 95%;
    }
}
// 短文本
.dee-short-text{
    float: left;
    width: 50%;
    .el-input{
        width:22.5rem;
        @media (max-width: 900px){
            width: 95%;
        }
    }
    .el-date-editor.el-input{
        width:22.5rem;
        @media (max-width: 900px){
            width: 95%;
        }
    }
}
// 多项选择 
.dee-multiple-choice{
    float: left;
    width: 50%;
    .el-checkbox-group{
        width: 95%;
    }
    .el-checkbox{
        margin-bottom: 0.3rem;
    }
    .el-input{
        width: 5rem;
    }
    .el-input__inner{
        padding: 0;
        padding-left: 3px;
    }
}
// 多选下拉 
.dee-multiple-dropdown{
    float: left;
    width: 50%;
}

// 多选下拉  矩阵多选下拉
.dee-multiple-dropdown,.dee-matrix-multiple-dropdown{
    .el-select {
        width:22.5rem;
        @media (max-width: 900px){
            width: 95%;
        }
    }
    .dee-dropdown-item{
        padding: .3rem 1rem;
    }
    .dee-dropdown-item:hover{
        background-color: #F5F7FA;
    }
    .dee-dropdown-wrap{
        width:22.5rem;
        @media (max-width: 900px){
            width: 95%;
        }
    }
    .el-checkbox{
        width: 95%;
    }
}
// 单选下拉
.dee-single-dropdown{
    float: left;
    width: 50%;
    .el-select {
        width:22.5rem;
        @media (max-width: 900px){
            width: 95%;
        }
    }
}
// 单项选择
.dee-single-choice{
    float: left;
    width: 100%;
    .el-radio-group{
        width: 95%;
    }
    .el-radio{
        margin-bottom: 0.3rem;
    }
    .el-input{
        width: 5rem;
    }
    .el-input__inner{
        padding: 0;
        padding-left: 3px;
    }
}

// 矩阵单选 矩阵多选  矩阵填空 矩阵多选下拉
.dee-matrix-single-choice,.dee-matrix-multiple-choice,.dee-matrix-input,.dee-matrix-multiple-dropdown{
    overflow-x: auto;
    .dee-dropdown-item{
        text-align: left;
    }
}
// 复合矩阵
.dee-matrix-complex-list{
    .el-icon-delete-solid{
        color: #f56c6c;
        font-size: 16px;
        cursor: pointer;
    }
    .el-date-editor.el-input{
        width: 98%;
    }
}

/* 自定义elementui下拉多选样式   开始*/
.dee-multiple-dropdown,.dee-matrix-multiple-dropdown,.dee-matrix-complex,.dee-matrix-complex-list{
    .el-select{
      .el-select__tags{
        overflow: hidden;
        &>span{
          display: flex;
        }
        .el-tag__close{
            pointer-events: none;
            display: none;
        }
      }
    }
}
.dee-select-dropdown.is-multiple .el-select-dropdown__item.selected::after{
  content: "";
  display: none;
}
.dee-select-dropdown.is-multiple .el-select-dropdown__item.selected .check{
  background-color: $main-color;
  border-color: $main-color;
}
.dee-select-dropdown.is-multiple .el-select-dropdown__item.selected .check:after{
  transform: rotate(45deg) scaleY(1);
}
.dee-select-dropdown.is-multiple .el-select-dropdown__item .check::after{
  box-sizing: content-box;
  content: "";
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  transition: transform .15s ease-in .05s;
  transform-origin: center;
}
.dee-select-dropdown.is-multiple .el-select-dropdown__item .check{
  display: inline-block;
  position: relative;
  top:2px;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #fff;
  z-index: 1;
  transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}
/* 自定义elementui下拉多选样式   结束*/

/* 基本题型单独样式 结束 */


/* 题型模板样式 */
.dee-preview-model-container{
    border-radius: 5px;
    padding: 1.2rem;
}